
<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h3>Seleccione un muestreo:</h3>
                <select (change)="loadSamplingInfo(selectedSamplingDOM.value)"  #selectedSamplingDOM class="form-control">
                    <option *ngFor="let s of samplings" [value]="s.idSampling" >{{s.name}} ({{s.type}})</option>
                </select>
            </div>
            <ba-card cardTitle="Colaboradores" baCardClass="with-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="table-id">Administrador</th>
                            <th>Identificación</th>
                            <th>Nombre</th>
                            <th>Desasignar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let colab of colaborators">
                            <td>{{colab.admin.data[0]!=1?"No":"Si"}}</td>
                            <td><a href="#">{{colab.cedula}}</a></td>
                            <td>{{colab.name}}</td>
                            <td>
                                <div class="button-wrapper">
                                    <button (click)='unassignColaborator(colab.cedula)' type="button" class="btn btn-danger btn-default  btn-xs">Desasignar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </ba-card>
            <ba-card cardTitle="Asignar colaboradores" baCardClass="with-scroll">
                <ng2-smart-table [settings]="settingsUsers"
                [source]="sourceUsers"
                (deleteConfirm)="onDeleteConfirm($event)">
            </ng2-smart-table>
        </ba-card>
        <div class="row">
            <div class="col-md-12">
                <ba-card cardTitle="Sampling Details" baCardClass="with-scroll">
                    <div class="form-group">
                        <label for="SamplingNameInput" translate>{{'Name'}}</label>
                        <input type="text" class="form-control" id="SamplingNameInput" [(ngModel)]="selectedSampling.name" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="input11" translate>{{'Description'}}</label>
                        <textarea type="text" class="form-control" id="input11" [(ngModel)]="selectedSampling.description" placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1">Type</label>
                        <select class="form-control" id="exampleSelect1" [(ngModel)]="selectedSampling.idSamplingType">
                            <option *ngFor="let type of samplingTypes" [value]="type.idSamplingType" >{{type.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="input18" translate>Objeto muestreado</label>
                        <input type="text" class="form-control" id="input18" [(ngModel)]="selectedSampling.sampled" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="input19" translate>Descripción del objeto</label>
                        <input type="text" class="form-control" id="input19" [(ngModel)]="selectedSampling.sampledDescription" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-warning" (click)="onEditSamplingDetails()">Editar</button>
                </ba-card>
            </div>
        </div>

        <ba-card cardTitle="Parámetros" baCardClass="with-scroll">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <ba-card cardTitle="Preliminares" baCardClass="with-scroll">
                        <ng2-smart-table [settings]="campostablapre" [source]="sourcePreParam"
                        (editConfirm)="onEditConfirmPreParam($event)"
                        ></ng2-smart-table>
                    </ba-card>
                </div>
                <div class="col-lg-6 col-md-12">
                    <ba-card cardTitle="Definitivos" baCardClass="with-scroll">
                        <ng2-smart-table [settings]="campostabladefi" [source]="sourceDefParam"
                        (editConfirm)="onEditConfirmDefParam($event)"
                        ></ng2-smart-table>
                    </ba-card>
                    <button class="btn btn-success" [disabled]="selectedSampling.isDefinitive == 1" (click)="makeDefinitive()">Hacer definitivo</button>
                </div>
            </div>
        </ba-card>
    </div>
</div>
