<section class="analyze">
    <div class="form-group">
      <h2 translate>{{'analyze.selectSampling'}}</h2>
      <select (change)="loadSamplingInfo(selectedSampName.value)" #selectedSampName class="form-control">
        <option *ngFor="let sampling of samplings" value="{{sampling.idSampling}}">{{sampling.name}}</option>
      </select>
    </div>
    <div class="row">
        <div class="col-md-12 ">
        <ba-card translate cardTitle="{{'analyze.productivity'}}" baCardClass="with-scroll">
            <ba-am-chart baAmChartClass="dashboard-line-chart"
                [baAmChartConfiguration]="this.productivityData"
                (onChartReady)="initChart($event)">
            </ba-am-chart>
        </ba-card>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 ">
          <tabs>
          <tab tabTitle="Actividades Improductivas"  >
            <ba-card translate cardTitle="{{'analyze.improductivities'}}" baCardClass="with-scroll">
              <!--traffic-chart><!/traffic-chart>-->
              <div class="channels-block">
                <div class="chart-bg"></div>
                <div class="traffic-chart" id="trafficChart">
                  <div class="canvas-holder">
                    <canvas class="chart-area" width="300px" height="300px"></canvas>
                    <div class="traffic-text">
                      {{totalActivities}}
                      <span translate>{{'dashboard.traffic_chart.view_total'}}</span>
                    </div>
                  </div>
                  <div class="traffic-legend"></div>
                </div>

                <div class="channels-info">
                  <div>
                    <div class="channels-info-item" *ngFor="let item of doughnutData">
                      <div class="legend-color" [ngStyle]="{'background-color': item.color }"></div>
                      <p>{{ item.label }}
                          <span class="channel-number">
                              <!-- To display integer value -->
                              {{ ((item.value / totalActivities) * 100) - (((item.value / totalActivities) * 100) % 1) }}%
                          </span>
                      </p>
                      <div class="progress progress-sm channel-progress">
                        <div class="progress-bar" role="progressbar"
                             [attr.aria-valuenow]="(item.value / totalActivities)"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             [ngStyle]="{width: (item.value / totalActivities) * 100 + '%' }">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ba-card>
          </tab>
          <tab tabTitle="Actividades Colaborativas">
            <ba-card translate cardTitle="{{'analyze.collaboratives'}}" baCardClass="with-scroll">
              <!--traffic-chart><!/traffic-chart>-->
              <div class="channels-block">
                <div class="chart-bg"></div>
                <div class="traffic-chart" id="trafficChart">
                  <div class="canvas-holder">
                    <canvas class="chart-area" width="300px" height="300px"></canvas>
                    <div class="traffic-text">
                      {{totalCollaboratives}}
                      <span translate>{{'dashboard.traffic_chart.view_total'}}</span>
                    </div>
                  </div>
                  <div class="traffic-legend"></div>
                </div>

                <div class="channels-info">
                  <div>
                    <div class="channels-info-item" *ngFor="let item of doughnutDataCollab">
                      <div class="legend-color" [ngStyle]="{'background-color': item.color }"></div>
                      <p>{{ item.label }}
                          <span class="channel-number">
                              <!-- To display integer value -->
                              {{ ((item.value / totalCollaboratives) * 100) - (((item.value / totalCollaboratives) * 100) % 1) }}%
                          </span>
                      </p>
                      <div class="progress progress-sm channel-progress">
                        <div class="progress-bar" role="progressbar"
                             [attr.aria-valuenow]="(item.value / totalCollaboratives)"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             [ngStyle]="{width: (item.value / totalCollaboratives) * 100 + '%' }">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ba-card>

          </tab>
          <tab tabTitle="Actividades Productivas">
              <p><ba-card translate cardTitle="{{'analyze.productives'}}" baCardClass="with-scroll">
                <!--traffic-chart><!/traffic-chart>-->
                <div class="channels-block">
                  <div class="chart-bg"></div>
                  <div class="traffic-chart" id="trafficChart">
                    <div class="canvas-holder">
                      <canvas class="chart-area" width="300px" height="300px"></canvas>
                      <div class="traffic-text">
                        {{totalProductives}}
                        <span translate>{{'dashboard.traffic_chart.view_total'}}</span>
                      </div>
                    </div>
                    <div class="traffic-legend"></div>
                  </div>

                  <div class="channels-info">
                    <div>
                      <div class="channels-info-item" *ngFor="let item of doughnutDataProduct">
                        <div class="legend-color" [ngStyle]="{'background-color': item.color }"></div>
                        <p>{{ item.label }}
                            <span class="channel-number">
                                <!-- To display integer value -->
                                {{ ((item.value / totalProductives) * 100) - (((item.value / totalProductives) * 100) % 1) }}%
                            </span>
                        </p>
                        <div class="progress progress-sm channel-progress">
                          <div class="progress-bar" role="progressbar"
                               [attr.aria-valuenow]="(item.value / totalProductives)"
                               aria-valuemin="0"
                               aria-valuemax="100"
                               [ngStyle]="{width: (item.value / totalProductives) * 100 + '%' }">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ba-card></p>

          </tab>
          </tabs>







        <ba-card translate cardTitle="{{'analyze.details'}}" baCardClass="with-scroll">
                <h4>Nombre</h4><p>{{selectedSampling.name}}</p>
                <h4>Descripción</h4><p>{{selectedSampling.description}}</p>
                <h4>Modalidad</h4><p>{{selectedSampling.modality.data[0] === 0 ? "Presencial" : "Video" }}</p>
                <h4>Tipo</h4><p>{{selectedSampling.type}}</p>
                <hr>
                <h4>Entidad muestreada:</h4><p>{{selectedSampling.sampled}}</p>
            </ba-card>
        </div>

        <div class="col-md-12 ">
            <ba-card translate cardTitle="{{'analyze.observations'}}" baCardClass="with-scroll">
            <ng2-smart-table [settings]="settingsObserv"
                [source]="sourceObserv"
                (editConfirm) = "onEditConfirm($event)"
                (deleteConfirm)="onDeleteConfirm($event)">
            </ng2-smart-table>
        </ba-card>
        </div>

        <div class="col-md-12 ">
            <ba-card cardTitle="Comentarios"  baCardClass="with-scroll">
            <ng2-smart-table [settings]="settingsComment"
                [source]="sourceComment"
                (editConfirm) = "onEditConfirmReport($event)"
                (deleteConfirm)="onDeleteConfirmReport($event)">
            </ng2-smart-table>
        </ba-card>
        </div>
    </div>
</section>
